<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.immimg.immimg.dao.LoginDao">
    <select id="getUserByMobile" resultType="com.immimg.immimg.model.entity.User">
        select * from `user` where mobile=#{mobile};
    </select>

    <select id="getAdminByMobile" resultType="com.immimg.immimg.model.entity.User">
        select * from `admin` where mobile=#{mobile};
    </select>
</mapper>