<?xml version="1.0" encoding="UTF-8" ?> <!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.immimg.immimg.dao.ProjectDao">
    <select id="getProjectTotalCount" resultType="java.lang.Integer">
        select count(*) from project
        <where>
            <if test="title!=null and title!=''">
                and title like concat('%',#{title},'%')
            </if>
            <if test="createDate!=null and createDate!=''">
                and createDate=#{createDate}
            </if>
            and flag=1
        </where>
    </select>
    <select id="getProjectByTitleAndCreateDate" resultType="com.immimg.immimg.model.entity.Project">
        select * from project
        <where>
            <if test="title!=null and title!=''">
                and title like concat('%',#{title},'%')
            </if>
            <if test="createDate!=null and createDate!=''">
                and createDate=#{createDate}
            </if>
            and flag=1
            limit #{currentPage},#{pageCount}
        </where>
    </select>
    <update id="deleteProject">
        update project set flag=0 where id=#{id}
    </update>
    <insert id="addProject">
        insert into project values (null,#{project.title},#{project.intro},#{project.content},now(),#{project.comment},1)
    </insert>
    <select id="getProjectById" resultType="com.immimg.immimg.model.entity.Project">
        select * from project where id=#{id}
    </select>
    <update id="updateProject">
        update project set title=#{project.title},intro=#{project.intro},content=#{project.content},comment=#{project.comment} where id=#{project.id}
    </update>
</mapper>